@page "/weather-per-days"
@using Application.WeatherForecasts.Dtos
@using Application.WeatherForecasts.Queries
@rendermode InteractiveServer
@inject IMessageBus bus


<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

<MudPaper Class="pa-4" Elevation="1">
    <EditForm EditContext="_editContext" OnValidSubmit="Submit">
        <FluentValidationValidator/>

        <MudNumericField T="int"
                         Label="Days"
                         @bind-Value="Form.Days"
                         For="@(() => Form.Days)"
                         Immediate="true"
                         Variant="Variant.Outlined"/>

        <MudButton ButtonType="ButtonType.Submit"
                   Variant="Variant.Filled"
                   Color="Color.Primary">
            Submit
        </MudButton>
    </EditForm>

</MudPaper>

<p>Live: @Form.Days</p>

<MudTable Items="forecasts" Loading="forecasts == null" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Date</MudTh>
        <MudTh>Temp. (C)</MudTh>
        <MudTh>Temp. (F)</MudTh>
        <MudTh>Summary</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Date">@context.Date</MudTd>
        <MudTd DataLabel="Temp. (C)">@context.TemperatureC</MudTd>
        <MudTd DataLabel="Temp. (F)">@context.TemperatureF</MudTd>
        <MudTd DataLabel="Summary">@context.Summary</MudTd>
    </RowTemplate>
</MudTable>

@code {
    private List<WeatherForecastDto>? forecasts;
    private EditContext _editContext = default!;
    private GetWeatherForecastsPerDays Form { get; } = new();

    protected override void OnInitialized()
    {
        _editContext = new EditContext(Form);
    }

    private async Task Submit()
    {
        forecasts = await bus.InvokeAsync<List<WeatherForecastDto>>(
            Form
        );
    }

}

