@page "/weather-per-days"
@using Application.WeatherForecasts.Dtos
@using Application.WeatherForecasts.Queries
@rendermode InteractiveServer
@inject IMessageBus bus


<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

<EditForm Model="@Form" OnValidSubmit="Submit" FormName="weatherPerDays">
    <FluentValidationValidator/>
    <ValidationSummary/>
    <div class="mb-3">
        <label for="days" class="form-label">Days</label>
        <InputNumber class="form-control"
                     id="days"
                     @bind-Value="Form.Days"/>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

<p>Live: @Form.Days</p>

@if (forecasts != null)
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th aria-label="Temperature in Celsius">Temp. (C)</th>
            <th aria-label="Temperature in Fahrenheit">Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<WeatherForecastDto>? forecasts;
    private GetWeatherForecastsPerDays Form { get; } = new();

    private async Task Submit()
    {
        forecasts = await bus.InvokeAsync<List<WeatherForecastDto>>(
            Form
        );
    }

}